@charset "UTF-8";
/*$colorfondoclaro: rgb(235, 233, 233);*/
body {
  margin: 0; }

img {
  max-width: 100%;
  height: 100%; }

.imagenCentrada {
  max-height: 100%;
  text-align: center; }

/*@Maur0: aplico grid para todo el content*/
.mainGrid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 100%;
  grid-template-areas: "header" "main"  "footer"; }

header {
  grid-area: header;
  padding-top: 68px;
  width: 100%;
  max-height: 100%;
  background: linear-gradient(90deg, #e90e0e 10%, #c8a9a9 50%, #e90e0e 90%); }

footer {
  grid-area: footer;
  /*height: 80vh;
    padding-top:60px;
    padding-bottom: 60px;*/
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*background: linear-gradient(90deg, rgba(29,26,26,1) 5%, rgb(41, 41, 41) 50%, rgba(29,26,26,1) 90%);     
    background-size:100%;
    color: whitesmoke;
    font-size: 100%;*/ }

i {
  font-size: 3vh; }

/*@Maur0: detalle servicios a través de un grid*/
.servicios {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "plan1 plan1" "plan2 plan3" "plan4 plan5" "plan6 plan7" "plan8 plan9";
  align-items: center; }

.plan1, .plan2, .plan3, .plan4, .plan5, .plan6, .plan7, .plan8, .plan9 {
  grid-area: plan1;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-items: center; }

.plan1:hover, .plan2:hover, .plan3:hover, .plan4:hover, .plan5:hover, .plan6:hover, .plan7:hover, .plan8:hover, .plan9:hover {
  transform: scale(1.05);
  border: 3px solid #727171; }

.plan2 {
  grid-area: plan2; }

.plan3 {
  grid-area: plan3; }

.plan4 {
  grid-area: plan4; }

.plan5 {
  grid-area: plan5; }

.plan6 {
  grid-area: plan6; }

.plan7 {
  grid-area: plan7; }

.plan8 {
  grid-area: plan8; }

.plan9 {
  grid-area: plan9; }

/*@Maur0: detalle promos a través de BEM*/
.card1 {
  padding: 40px; }
  .card1__img1 {
    display: block;
    align-items: center; }
  .card1__contenido1 {
    background-color: rgba(102, 104, 102, 0.5); }

.lista1 {
  list-style-type: none;
  display: flex; }
  .lista1__item1 {
    color: black;
    font-size: 16px; }
    .lista1__item1--activo1 {
      background-color: black;
      color: white; }

.boton1 {
  display: flex;
  align-items: center;
  max-width: 100%; }
  .boton1__icono1 {
    color: #666866; }

.card2 {
  padding: 40px; }
  .card2__img2 {
    display: block;
    align-items: center; }
  .card2__contenido2 {
    background-color: rgba(102, 104, 102, 0.5); }

.lista2 {
  list-style-type: none;
  display: flex; }
  .lista2__item2 {
    color: black;
    font-size: 16px; }
    .lista2__item2--activo2 {
      background-color: black;
      color: white; }

.boton2 {
  display: flex;
  align-items: center;
  max-width: 100%; }
  .boton2__icono2 {
    color: #666866; }

.card3 {
  padding: 40px; }
  .card3__img3 {
    display: block;
    align-items: center; }
  .card3__contenido3 {
    background-color: rgba(102, 104, 102, 0.5); }

.lista3 {
  list-style-type: none;
  display: flex; }
  .lista3__item3 {
    color: black;
    font-size: 16px; }
    .lista3__item3--activo3 {
      background-color: black;
      color: white; }

.boton3 {
  display: flex;
  align-items: center;
  max-width: 100%; }
  .boton3__icono3 {
    color: #666866; }

h1 {
  margin: 0;
  width: 100%;
  max-height: 100%;
  color: #fa3c3c;
  font-family: "Montserrat",sans-serif;
  font-size: 50px;
  font-style: unset;
  text-align: center;
  padding: 30px; }

h3 {
  margin: 0;
  width: 100%;
  max-height: 100%;
  color: #fa5050;
  font-family: "Montserrat",sans-serif;
  font-size: 40px;
  font-style: unset;
  text-align: center;
  padding: 15px; }

h5 {
  margin: 0;
  width: 100%;
  max-height: 100%;
  color: #fa5050;
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
  font-style: unset;
  text-align: center;
  padding: 10px; }

.parrafoPrincipal, .parrafoSecundario {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center; }

.parrafoPrincipalBackground {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  background-color: rgba(250, 60, 60, 0.6); }

.parrafoSecundario {
  font-size: 18px; }

/*@Mauro: estilos para las listas*/
ul {
  margin: 0;
  padding: 0; }

ul ul {
  display: none; }

ul li:hover ul {
  display: block;
  max-width: 100%; }

li {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  text-align: center;
  list-style-type: none;
  padding-top: 2px; }

li:hover {
  background-color: #fa5050;
  transition: all 0.5s;
  border-bottom: whitesmoke;
  border-width: 20px; }

a {
  font-family: "Montserrat", sans-serif;
  color: #c8c8c8;
  text-decoration: none; }

a:hover {
  color: whitesmoke; }

.activeMenu {
  color: whitesmoke;
  background-color: #fa5050;
  border-bottom: whitesmoke;
  border-width: 20px; }

.button {
  background-color: #e90e0e;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: 0; }

.button:hover {
  background-color: #e90e0e;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: 0; }

.input:focus {
  width: 800px;
  height: 100px;
  background-color: #e90e0e;
  color: #fa5050;
  font-size: 40px; }

/*@Mauro: FIN estilos para las listas*/
/*@Maur0: aplico @media queries*/
/* Large devices (desktop, 991.98px and up) */
@media only screen and (max-width: 991.98px) {
  /*
    .mainGrid{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 100%;
    }

    */
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 100%; } }

/* Medium devices (tablets, 767 and up) */
@media only screen and (max-width: 767.98px) {
  /*
    .mainGrid{
        grid-template-rows: repeat(4, auto);
    }

    */
  .servicios {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 100%; } }

@media (max-width: 575.98px) {
  /*
    .mainGrid{
        grid-template-rows: repeat(4, auto);
    }

    */
  .servicios {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%; } }
