@import "colores";
@import "fuentes";

body{
    margin: 0;
}

img{
    max-width: 100%;
    height: 100%;
}

/*@Maur0: aplico grid para todo el content*/
.grillaPrincipal{
    display: grid;
    
    grid-template-rows: 30% 3% 60% 7%;
    grid-template-columns: 100%;
    grid-template-areas: 
                "header" 
                "nav" 
                "section" 
                "footer";
}

header{
    grid-area: header;
    width: 100%;
    max-height: 100%;
    background: linear-gradient(90deg, $colorfondo 10%, rgba(200,169,169,1) 50%, $colorfondo 90%); 
    font-family: $fuentes;
    font-size: 5px;
    
}

footer{
    grid-area: footer;
    height: 80vh;
    /*padding-top:60px;
    padding-bottom: 60px;*/
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(90deg, rgba(29,26,26,1) 5%, rgb(41, 41, 41) 50%, rgba(29,26,26,1) 90%);     
    background-size:100%;
    color: whitesmoke;
    font-size: 80%;
        
}

.formatoVolverInicio{
    @extend header;
    background-color: $colorletraprim;
    font-size: 20px;
    text-align: right;

}

.tituloCopyright{
    @extend header;
    margin: 5;
    padding: 10px;
    background: linear-gradient(90deg, rgb(122, 122, 122) 5%, rgb(90, 90, 90) 50%, rgb(122, 122, 122) 90%);     
    color: rgb(235, 233, 233);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.card1{
    padding: 5px;

    &__img1{
        display:block;
        height:100px;
        background-color: $colorfondo;
    }

    &__contenido1{
        background-color:$colorletrasec;
    }
}
    
.lista1{

    list-style-type: none;
    display:flex;
    
    &__item1{
        color: black;
        font-size: 16px;
        background-color: rgb(231, 231, 231);

        &--activo1{
            background-color: black;
            color: white;
        }
    }
}
.boton1{

    color: rgb(117, 116, 116);
    display: flex;
    align-items: center;
    width: 100%;

    &__icono1{
        color: rgb(102, 104, 102);
    }
}

.card2{
    padding: 5px;

    &__img2{
        display:block;
        height:100px;
        background-color: darkolivegreen;
    }

    &__contenido2{
        background-color: lightgreen;
    }
}
    
.lista2{

    list-style-type: none;
    display:flex;
    
    &__item2{
        color: black;
        font-size: 16px;
        background-color: rgb(231, 231, 231);

        &--activo2{
            background-color: black;
            color: white;
        }
    }
}

.boton2{

    color: rgb(117, 116, 116);
    display: flex;
    align-items: center;
    width: 100%;

    &__icono2{
        color: rgb(102, 104, 102);
    }
}

.card3{
    padding: 5px;

    &__img3{
        display:block;
        height:100px;
        background-color: darkorchid;
    }

    &__contenido3{
        background-color:rgb(204, 156, 194);
    }
}
    
.lista3{

    list-style-type: none;
    display:flex;
    
    &__item3{
        color: black;
        font-size: 16px;
        background-color: rgb(231, 231, 231);

        &--activo3{
            background-color: black;
            color: white;
        }
    }
}

.boton3{

    color: rgb(117, 116, 116);
    display: flex;
    align-items: center;
    width: 100%;

    &__icono3{
        color: rgb(102, 104, 102);
    }
}

.servicios{
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
                        "plan1 plan1"
                        "plan2 plan3"
                        "plan4 plan5"
                        "plan6 plan7"
                        "plan8 plan9"
                        ;
    justify-items: center;
    align-items: center;
    

}

    .plan1{
        max-width: 100%;
        max-height: 100%;
        grid-area: plan1;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
        font-weight:bold;
    }

    .plan2{
        margin: 0;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
        grid-area: plan2;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

    .plan3{
        grid-area: plan3;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

    .plan4{
        grid-area: plan4;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

    .plan5{
        grid-area: plan5;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

    .plan6{
        grid-area: plan6;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

    .plan7{
        grid-area: plan7;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
        
    }

    .plan8{
        grid-area: plan8;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

    .plan9{
        grid-area: plan9;
        background-color: $colorfondoclaro;
        font-family: $fuentes;
        text-align: center;
    }

@mixin estiloTitulares($colorLetra, $tamaño, $ancho){

    margin: 0;
    width: 100%;
    max-height: 100%;
    color:$colorLetra;
    font-family: "poppins",sans-serif;
    font-size: $tamaño;
    font-style:unset;
    font-weight: $ancho;
    text-align: center;

}

h1{
    @include estiloTitulares(rgb(250, 60, 60),66px,bold);
    padding: 10px;
} 

h3{
    @include estiloTitulares(rgba(250, 80, 80, 0.774), 34px,bold);
    padding: 7.5px;
}

h5{
    @include estiloTitulares(rgba(250, 80, 80, 0.774), 28px,900);
    padding: 5px;
}

.parrafoPrincipal{
    font-family: $fuentes;
    font-style:normal;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
}

.parrafoSecundario{
    @extend .parrafoPrincipal;
    font-size: 18px;
    
}

/*@Maur0: Clase12 No lo quiero borrar porque quiero entender si lo estoy utilizando o no
@keyframes estiloTitulares {
    0%{
        opacity: 0;
        transform: rotate(25deg);
        background-color: rgb(250, 60, 60);
    } 

    50%{
        transform: rotate(360deg);
        background-color: rgb(240, 155, 155);
    }

    100%{
        opacity: 5;
    }
 }
 */