<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/estilo.css">
    <link rel="stylesheet" href="../../css/estiloscss.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c834f7c386.js" crossorigin="anonymous"></script>
    <title>Acerca de NSCH</title>
    <meta name="description" content="Conocé quién es el staff de Nutrición Sana Consciente Hoy (NSCH).">
    <meta name="keywords"  content="Nutricion, Nutrición, Nutricionista, NSCH, Dieta, Plan Nutricional, Plan Alimentario, Alimentación, Sana, Consciente, Hoy, Servicios Nutrición">
</head>
<body>
    <div class="grillaPrincipal"> <!--@Maur0: agrego Grilla Padre en este div que contiene todas las secciones de la página-->
        <header>
            <div class="imagenCentrada">
                <a href="../index.html">
                    <img src="../../images/logonsch.png" alt="LogoNSCH" width="30%" height="30%" >
                </a>
            </div>
        </header>
        <nav>
            <ul class="grillaMenu"> <!--@Maur0: agrego Grilla Hijo en esta ul que contiene la grilla para el menú navegador-->    
                <li>
                    <a href="../../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./acercademi.html">Acerca de Mi</a>
                </li>
                <li>
                    <a href="./servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="./promociones.html">Promociones</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
        <section>
            <article>
                <div>
                    <p></p>
                    <p></p>
                    <h3>Hola! ¿Cómo estás? Me presento...</h3>
                    <p></p>
                    <p class="parrafoPrincipal"> 
                    Hola gente linda! Ahora toca presentarme... soy Sabri, Licenciada en Nutrición, recibida en la UBA allá por el año 2015. Cuento con experiencia en clínica, centros de día, consultorios de nutricionistas de primera línea y consultorio particular.
                    Si tengo que contar un poco acerca de mí, diría que no soy como "Susanita"... que primero estudia, se recibe, trabaja, se casa y tiene hijos... como digo siempre... el orden de los factores no altera el producto. En mi caso, primero empecé estudiando y trabajando para ser más independiente y ayudar en mi casa; 
                    luego me fui a vivir con mi amorcito; al tiempo fui mamá por primera vez de una hermosa nena; seis meses después me recibí... y mientras esperaba mi título, continué capacitandome y adquiriendo mayor experiencia. Hace poco más de un año volví a ser mama de otra hermosa nena... y cuando pensaba que volver a empezar era arrancar de cero, 
                    me di cuenta de que contaba con muchas más herramientas y mucha más fuerza que antes para continuar este camino, mi camino...
                    Mi intención es compartir artículos, recetas, tips y todo lo relacionado a la idea de fomentar una alimentación más real, más natural... bajo una mirada: "Nutrición Sana y Consciente Hoy"... si aún no lo hiciste, te invito a que leas cada una de las nueve publicaciones anteriores las cuales expresan mi visión.
                    Si estás buscando empezar el cambio, hacelo a partir de hoy! No dudes en contactarme.
                    </p>
                </div>
                <div class="imagenCentrada">
                    <img src="../../images/nenita.png" alt="quiensoy" width="25%" height="25%">
                </div>
                <div class="formatoVolverInicio">
                    <a href="../index.html">Volver a Inicio</a>
                </div>
            </article>
        </section>
        <footer> <!--@Maur0: clase10 bootstrap genero un footer basado en un theme, con iconos, links y aplicando media query para que quede responsive-->
            <div class="container">
                <div class="row">
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                            <p>
                                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/nutricion.sch/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                nutricion.sch
                            </p>
                            <p>
                                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/pages/category/Nutritionist/Nutrici%C3%B3n-SCH-461864504153936/">
                                    <i class="fab fa-fw fa-facebook-f"></i>
                                </a>
                                Nutricion SCH
                            </p>
                    </div>
                    <!-- Footer Location y Contacto-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Contacto</h4>
                        <p>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://g.page/nutricionsch?share">
                                <i class="fas fa-map-marker-alt"></i>
                            </a>
                            Nutrición.SCH
                        </p>
                        <p>                      
                            <a class="btn btn-outline-light btn-social mx-1" href="mailto:nutricion.sch@gmail.com">
                                <i class="far fa-envelope"></i>
                            </a>
                            nutricion.sch@gmail.com
                        </p>
                        <p>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/sabrina-magali-chiaradia-611986161/">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </a>
                            Sabrina Chiaradia
                        </p>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acerca de Nutrición SCH</h4>
                        <p class="lead mb-0">
                            Nutrición Sana y Consciente Hoy
                            by Lic. Sabrina Chiaradia M.N.8420
                        </p>
                    </div>
                </div>
            </div>
            <!-- Copyright Section-->
            <div class="tituloCopyright">
                    <div class="container"><small>Copyright by ©FSA</small></div>
            </div>
        </footer>
    </div>
</body>
</html>